@font-face {
    font-family: 'MaybeCoffee';
    src: url('./MaybeCoffee.otf') format('opentype'),
    url('./MaybeCoffee.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    font-family: 'MaybeCoffee', sans-serif;
    background: url('./icon.png');
}